
 <!DOCTYPE html>
 <html lang="US">
 
 <head>
 
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <meta name="description" content=" For Our Project">
	 <meta name="author" content="Gady, Reem">
	 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
 
	 <title>Web App</title>
 
 
	 <!-- Additional CSS Files -->
	 
	 <link rel="stylesheet" type="text/css" href="../css/index/bootstrap.min.css">
 
	 <link rel="stylesheet" type="text/css" href="../css/index/font-awesome.css">
 
	 <link rel="stylesheet" href="../css/index/AppPipe.css">
 
	 <link rel="stylesheet" href="../css/index/owl-carousel.css">
 
 </head>
 
 <body>
 
	 <!-- ***** Preloader Start ***** -->
	 <div id="preloader">
		 <div class="jumper">
			 <div></div>
			 <div></div>
			 <div></div>
		 </div>
	 </div>
	 <!-- ***** Preloader End ***** -->
 
 
	 <!-- ***** Header Area Start ***** -->
	 <header class="header-sticky">
		 <div class="header-area container">
			 <div class="row">
				 <div class="col-12">
					 <nav class="main-nav">
						<!-- ***** Logo Start ***** -->
                        <a href="/account/" class="logo">
                            App Pipe 
                            
                        </a>
						 <!-- ***** Logo End ***** -->
						 <!-- ***** Menu Start ***** -->
						 
						 
						 <!-- ***** Menu End ***** -->
					 </nav>
					 
				 </div>
			 </div>
		 </div>
		 
	 </header>
	 <!-- ***** Header Area End ***** -->
	 
	 
	 <!-- ***** Welcome Area Start ***** -->
	 <div class="welcome-area" id="welcome">
		 <!-- ***** Header Text Start ***** -->
		 <div class="header-text">
			 <div class="container">
				 <div class="row">
					 <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
						 data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
						 
						 
						 <h1><em><b> your Apps </b></em></h1>
                         <p>here you be able to download your app. </p> 
                         

                         
                     </div>
                     
                 </div>
                 <img src="../images/WebAppimages/matrix-app.jpg"  alt="">
                     <br>
                    <a href="" download="myApp.apk" >Download the APK</a>
             </div>
             
         </div>
         
		 <!-- ***** Header Text End ***** -->
     </div>
     
	
	
	
 
	 <!-- jQuery -->
	 <script src="../js/index/jquery-2.1.0.min.js"></script>
 
	 <!-- Bootstrap -->
	 <script src="../js/index/popper.js"></script>
	 <script src="js/index/bootstrap.min.js"></script>
 
	 <!-- Plugins -->
	 <script src="../js/index/owl-carousel.js"></script>
	 <script src="../js/index/scrollreveal.min.js"></script>
	 <script src="../js/index/waypoints.min.js"></script>
	 <script src="../js/index/jquery.counterup.min.js"></script>
	 <script src="../js/index/imgfix.min.js"></script>
 
	 <!-- Global Init -->
	 <script src="../js/index/custom.js"></script>
	 <script src="../js/index/main.js "></script>
 </body>
 </html>



