<!DOCTYPE html>
 <html lang="US">
 
 <head>
 
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <meta name="description" content=" For Our Project">
	 <meta name="author" content="Gady, Reem">
	 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
 
     <title>Web App</title>
     
    </head>
 
    <body>


        <a href="" download="myApp.zip" >Download the pdf</a>



    </body>
    </html>