<!DOCTYPE html>
<html lang="US">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" For Our Project">
    <meta name="author" content="Gady, Reem">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>App Pipe Web</title>


    <!-- Additional CSS Files -->
    
    <link rel="stylesheet" type="text/css" href="../css/index/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../css/index/font-awesome.css">

    <link rel="stylesheet" href="../css/index/AppPipe.css">

    <link rel="stylesheet" href="../css/index/owl-carousel.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-sticky">
        <div class="header-area container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            App Pipe 
                            
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#about" class="menu-item">About</a></li>
                            <li class="scroll-to-section"><a href="#Pricing" class="menu-item">Price</a>
                            </li>
                            <li class="submenu">
                                <a href="javascript:;">Our Product</a>
                                <ul>
                                    <li><a href="/account/" class="menu-item">Web App</a></li>
                                    <li><a href="" class="menu-item">Popularity app
                                    </a></li>
                                    <li><a href="" class="menu-item">Our UI Builder</a></li>
                                    <li><a href="" class="menu-item">Hand in hand app</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li>
                            <li class="scroll-to-section"><a href="/account/login" class="menu-item">My Account</a></li>
                            
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    
    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                        <h1><em><b> No coding or technical skills are required.</b></em></h1>
                        <p>
                            We know how important the phone is for users.<br>
                            We spend hours on the phone browsing the internet or on social networks, and in recent years, phones have become increasingly used for online purchases.<br>
                            <br>
                            Our team can build you mobile app through which you can move to the next level of online marketing.<br>
                            Convert website into an app in just a few steps.<br>
                            Create app from website with free ads.<br>
                            Convert web 2 app fast with our help. We have certified developers that will create app at high standards.<br><br>

                            For now we can make android app and in future will turn website into an iOS app.</p> 
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** --> 
    <!-- ***** About Big Item Start ***** -->
    <section class="section" id="about">
        <div class="title-text-about" ><h2>about</h2></div> 
        <div class="container">    
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.5s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>01</h2>
                            <img src="../images/Indeximages/about1.png" alt="">
                            <h4>More sales</h4>
                            <p>studies show that mobile conversion rate is 3 times faster than classic websites. Having such a high conversion rate means that your marketing will be more effective. Build an website to app and grow your sales fast. You can turn website to apk or sdk in a few simple steps.</p>
                            <a href="#Pricing" class="main-button">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.5s after 0.5s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>02</h2>
                            <img src="../images/Indeximages/about2.png" alt="">
                            <h4>Traffic</h4>
                            <p>This is another way to get quality traffic.<br>
                                A person who installs your website to app is more inclined to use it and go in more often to discover new products. <br>
                                Your website traffic will be redirected to app.</p>
                            <a href="#Pricing" class="main-button">
                                Discover More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.5s after 0.6s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>03</h2>
                            <img src="../images/about3.png" alt="">
                            <h4>Branding</h4>
                            <p>The application is an instrument through which you will be present in the handsets of the people to purchase products and services and build a strong brand.<br><br><br><br></p>
                            <a href="#Pricing" class="main-button">
                                More Detail
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.5s after 0.7s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>04</h2>
                            <img src="../images/Indeximages/about4.png" alt="">
                            <h4>Compatible with any phone</h4>
                            <p>Apps have a media value of orders 140% higher than mobile sites and 130% more than desktop sites. This translates into an increase in revenue with a much lower number of orders. A converted app from a website is almost free.</p>
                            <a href="#Pricing" class="main-button">
                                Read More
                            </a>
                        </div>
                    </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.5s after 0.8s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>05</h2>
                            <img src="../images/Indeximages/about5.png" alt="">
                            <h4>Loiality ussers</h4>
                            <p>Apps are an effective way to keep your customers faithful.<br>
                                 It is extremely efficient for a user to enter the app whenever he receives notifications that you have added new products or that you are running discount campaigns.<br><br></p>
                            <a href="#Pricing" class="main-button">
                                Discover More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.5s after 0.9s">
                    <div class="features-item">
                        <div class="features-icon">
                            <h2>06</h2>
                            <img src="../images/Indeximages/about6.png" alt="">
                            <h4>New marketing channel</h4>
                            <p>Converted websites to app are an effective marketing channel.<br>
                                 This way you get more traffic and more sales with a minimum investment.<br><br><br><br></p>
                            <a href="#Pricing" class="main-button">
                                More Detail
                            </a>
                        </div>
                    </div>
        </div>
    </section>
    <!-- ***** About Big Item End ***** -->
    <div class="title-text" ><h2>Why With Us?</h2></div>   
        
    
    <div class="left-image-decor"></div>   
     
    <!-- ***** About Big Item Start ***** -->
    <section class="section" id="promotion">
        
        <div class="container">
            
            <div class="row">
                
                <div class="left-image col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix-big"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="../images/Indeximages/android.png " style="-webkit-filter :hue-rotate(180deg); 
                    "  class="rounded img-fluid d-block mx-auto " alt="App">
                </div>
                <div class="right-text offset-lg-1 col-lg-6 col-md-12 col-sm-12 mobile-bottom-fix">
                    <ul>
                        <li data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                            <img src="../images/Indeximages/Chart.png" alt="">
                            <div class="text">
                                <h4>Get more sales</h4>
                                <p>You will expand your reach through website app.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.4s after 0.5s">
                            <img src="../images/Indeximages/notification.png" alt="">
                            <div class="text">
                                <h3>Unlimited Push  Notifications</h3>
                                <p>You can send notifications to your users.</p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.4s after 0.6s">
                            <img src="../images/Indeximages/FastSpeed.png" alt="">
                            <div class="text">
                                <h4>Fast speed</h4>
                                <p>Turn website into an app and will load quick. </p>
                            </div>
                        </li>
                        <li data-scroll-reveal="enter right move 30px over 0.4s after 0.7s">
                            <img src="../images/Indeximages/Support.png" alt="">
                            <div class="text">
                                <h4>24/7 support</h4>
                                <p>You will have our support to use your app properly</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Big Item End ***** -->

    <div class="right-image-decor"></div>

    <!-- ***** Pricing Starts ***** -->
    <section class="section" id="Pricing">
        <div class="title-text-about" ><h2>about</h2></div> 
        <div class="container">    
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="images/Indeximages/Iphone.png"  alt="">
                            <h4>iOS</h4>
                            <p>Build an IPA file for the App Store<br><br>
                            <em>Only For:</em><br><br>
                            $ 69 / One Time
                        </p>
                            <a href="/account/login" class="main-button">
                                Click Here
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter button move 30px over 0.6s after 0.5s">
                <div class="features-item">
                    <div class="features-icon">
                        <img src="../images/Indeximages/Iphone.png"  alt="">
                        <h4>Android</h4>
                        <p>Build an APK file for the Play Store
                            <br><br>
                        <em>Only For:</em><br><br>
                        $ 69 / One Time
                    </p>
                        <a href="/account/login" class="main-button">
                            Click Here
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
                data-scroll-reveal="enter right move 30px over 0.6s after 0.5s">
                <div class="features-item">
                    <div class="features-icon">
                        <img src="../images/Indeximages/Iphone.png"  alt="">
                        <h4>Android & iOS</h4>
                        <p>Build both Android & iOS application
                            <br><br>
                        <em>Only For:</em><br><br>
                        $ 119 / One Time
                    </p>
                        <a href="/account/login" class="main-button">
                            Click Here
                        </a>
                    </div>
                </div>
            </div>
            
            </section>
           
    <!-- ***** Pricing Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer id="contact-us">
        <div class="container">
            <div class="footer-content">
              
                <div class="row">
                    <!-- ***** Contact Form Start ***** -->
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="contact-form">
                            <form action="/message" id="contact"  method="POST">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" id="name" placeholder="Full Name" 
                                                style="background-color: rgba(250,250,250,0.3);" onblur="validateName(this.value);" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="text" id="email" placeholder="E-Mail Address"
                                                 style="background-color: rgba(250,250,250,0.3);" onblur="validateEmail(this.value);" required>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" id="message" placeholder="Your Message"
                                                 style="background-color: rgba(250,250,250,0.3);" required ></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            
                                            <button type="submit" id="form-submit" class="main-button"  >  Send Message
                                                Now</button>
                                              
                                        </fieldset>
                                        
                                    </div>
                                    
                                </div>
                                 
                            </form>
                            
                        </div>
                       
                    </div>
                    
                    <!-- ***** Contact Form End ***** -->
                    <div class="right-content col-lg-6 col-md-12 col-sm-12">
                        
                        <h2>Contact us for details </h2>
                        <p><em><h3>Pipe develop your app!</em></h3>
                            <br><br>
                            We are a team of app developers who can help you to build an app from scratch or to convert your website to app and many more features.<br>
                             The app will be deliver to you in maximum 24 h after you pay it.<br>
                              Tell us about how you want to be your app and we make it for you!
                            <br><br>You can contact us for details and we will answer you quick!
                        <ul class="social">
                            <li><a href="https://www.facebook.com/reem.shai"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <p>Copyright &copy; 2021 App Pipe
                            <a href="#welcome" class="main-button" style="float:left;">
                                Back To Home
                            </a>

                        | Designed by Reem Shai , Gady Schneider</a></p>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
   

    <!-- jQuery -->
    <script src="../js/index/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="../js/index/popper.js"></script>
    <script src="js/index/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="../js/index/owl-carousel.js"></script>
    <script src="../js/index/scrollreveal.min.js"></script>
    <script src="../js/index/waypoints.min.js"></script>
    <script src="../js/index/jquery.counterup.min.js"></script>
    <script src="../js/index/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="../js/index/custom.js"></script>
    <script src="../js/index/main.js "></script>
</body>
</html>