<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" For Our Project">
    <meta name="author" content="Gady, Reem">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AppPipe</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="../fonts/Userfonts/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../css/user/style.css">
    <!-- index Css-->
    <link rel="stylesheet" type="text/css" href="../css/index/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../css/index/font-awesome.css">

    <link rel="stylesheet" href="../css/index/AppPipe.css">

    <link rel="stylesheet" href="../css/index/owl-carousel.css">
</head>
<body>

    <div class="main">
        
        <!-- Sing in  Form -->
        <section class="sign-in" >
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="../images/Userimages/undraw_designer.svg" sing up image ></figure>
                        <br>
                        <a href="register" class="signup-image-link">Create an account</a>
                        <br><br>
                        <a href="/" id="form-submit" class="main-button" style="margin-left: 120px; background-color:darkcyan;" >Back To Home</a>

                    </div>

                    <div class="signin-form ">
                        
                        <h2 class="form-title">Log In</h2>
                        <form action="/account/login" method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" onblur="validateEmail(this.value);" required/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="psw" id="your_pass" placeholder="Password" onblur="validatePw(this.value)" required/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials" >
                                <li ><a href="https://www.facebook.com/"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

    </div>
    
    

    <!-- JS -->
    <script src="../jquery/Uservendor/jquery/jquery.min.js"></script>
    <script src="../js/user/main.js"></script>
</body>
</html>