
 <!DOCTYPE html>
 <html lang="US">
 
 <head>
 
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	 <meta name="description" content=" For Our Project">
	 <meta name="author" content="Gady, Reem">
	 <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
 
	 <title>Web App</title>
 
 
	 <!-- Additional CSS Files -->
	 
	 <link rel="stylesheet" type="text/css" href="../css/index/bootstrap.min.css">
 
	 <link rel="stylesheet" type="text/css" href="../css/index/font-awesome.css">
 
	 <link rel="stylesheet" href="../css/index/AppPipe.css">
 
	 <link rel="stylesheet" href="../css/index/owl-carousel.css">
 
 </head>
 
 <body>
 
	 <!-- ***** Preloader Start ***** -->
	 <div id="preloader">
		 <div class="jumper">
			 <div></div>
			 <div></div>
			 <div></div>
		 </div>
	 </div>
	 <!-- ***** Preloader End ***** -->
 
 
	 <!-- ***** Header Area Start ***** -->
	 <header class="header-sticky">
		 <div class="header-area container">
			 <div class="row">
				 <div class="col-12">
					 <nav class="main-nav">
						<!-- ***** Logo Start ***** -->
                        <a href="/account/" class="logo">
                            App Pipe 
                            
                        </a>
						 <!-- ***** Logo End ***** -->
						 <!-- ***** Menu Start ***** -->
						 <ul class="nav">
							 <li class="scroll-to-section"><a href="/" class="menu-item">Home</a></li>
							 <li class="scroll-to-section"><a href="" class="menu-item">DashBoard</a></li>
							 <li class="scroll-to-section"><a href="/account/logout" class="menu-item">logout</a></li>
							 
						 </ul>
						 <a class='menu-trigger'>
							 <span>Menu</span>
						 </a>
						 
						 <!-- ***** Menu End ***** -->
					 </nav>
					 
				 </div>
			 </div>
		 </div>
		 
	 </header>
	 <!-- ***** Header Area End ***** -->
	 
	 
	 <!-- ***** Welcome Area Start ***** -->
	 <div class="welcome-area" id="welcome">
		 <!-- ***** Header Text Start ***** -->
		 <div class="header-text">
			 <div class="container">
				 <div class="row">
					 <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
						 data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
						 
						 
						 <h1><em><b> Convert Your Website</b></em></h1>
						 <p>
							 please fill the below info	to let us develop it.<br>
							 it will take maximum 24 hours.<br>
							 after we done, we will email to the email you fill inside the box, and you be able to download the app . <b>(it will be a link for your app)</b> <br>
							 for any questin or feture you can email us. 
							 

					 </div>
				 </div>
			 </div>
		 </div>
		 <!-- ***** Header Text End ***** -->
	 </div>
	 <!-- ***** Welcome Area End ***** --> 
	 <!-- ***** About Big Item Start ***** -->
	 <section class="section" id="about">
		
		 <div class="title-text-about"></div> 
		 <div class="container">    
			 <div class="row">
				 <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12"
					 data-scroll-reveal="enter left move 30px over 0.5s after 0.4s">
						<form action="/webapp/webapp" method="POST" >
							<div class="input-group mb-3">
								<div class="input-group-prepend">
								  <label class="input-group-text" for="inputGroupSelect01">Platform</label>
								</div>
								<select class="custom-select" id="inputGroupSelect01" name="choose">
								  <option selected>Select Android or iOS</option>
								  <option value="Android">Android</option>
								  <option value="iOS">iOS</option>
								  <option value="both">both</option>
								</select>
							</div>
							<div class="form-group">
							  <label for="formGroupExampleInput">App Name</label>
							  <input type="text" class="form-control" name="appname" id="formGroupExampleInput" placeholder="your app name">
							</div>
							<div class="form-group">
							  <label for="formGroupExampleInput2">Url</label>
							  <input type="text" class="form-control" name="urlname" id="formGroupExampleInput2" placeholder="your url website">
							</div>
							<div class="form-group">
							  <label for="formGroupExampleInput3">Email</label>
							  <input type="text" class="form-control" name="emailname" id="formGroupExampleInput3" placeholder="your email">
							</div>

							<div class="form-group form-button">
                                <input type="submit" name="info" id="info"  class="form-submit" value="Send"  />
                            </div>

							<a href="" download="myApp.zip" >Download the pdf</a>
							
						  </form>
					  
						
						 </div>
					 </div>
		 </div>
	 </section>
	
	
 
	 <!-- jQuery -->
	 <script src="../js/index/jquery-2.1.0.min.js"></script>
 
	 <!-- Bootstrap -->
	 <script src="../js/index/popper.js"></script>
	 <script src="js/index/bootstrap.min.js"></script>
 
	 <!-- Plugins -->
	 <script src="../js/index/owl-carousel.js"></script>
	 <script src="../js/index/scrollreveal.min.js"></script>
	 <script src="../js/index/waypoints.min.js"></script>
	 <script src="../js/index/jquery.counterup.min.js"></script>
	 <script src="../js/index/imgfix.min.js"></script>
 
	 <!-- Global Init -->
	 <script src="../js/index/custom.js"></script>
	 <script src="../js/index/main.js "></script>
 </body>
 </html>



